
<h2>Framework Schedule</h2>
<div *ngIf="selectedCourses.length > 0">
    <table class="course-table">
        <thead>
            <tr>
                <th>Course Code</th>
                <th>Course Name</th>
                <th>Points</th>
                <th>Subject</th>
                <th>Syllabus</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let course of selectedCourses">
                <td>{{ course.courseCode }}</td>
                <td>{{ course.courseName }}</td>
                <td>{{ course.points }}</td>
                <td>{{ course.subject }}</td>
                <td><a href="{{ course.syllabus }}" target="_blank">Link</a></td>
                <td><button [disabled]="course.addedToTimetable" (click)="removeFromTimetable(course)">Remove</button></td>
            </tr>
        </tbody>
    </table>
    
    <h5>Number of results: {{ selectedCourses.length }}</h5>
    <p>Total Higher Education Credits: {{ getTotalCredits() }}</p>
    <div class="add-all-btn">
        <button mat-button (click)="removeAllFromTimetable()">Remove All from List</button>
    </div>
</div>

<div *ngIf="selectedCourses.length === 0">
    <p>No courses selected.</p>
</div>