
<h2>Mitt ramschema</h2>
<div *ngIf="selectedCourses.length > 0">
    <table class="course-table">
        <thead>
            <tr>
                <th>Kod</th>
                <th>Kursnamn</th>
                <th>Poäng</th>
                <th>ämne</th>
                <th>Kursplan</th>
                <th>Ta bort</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let course of selectedCourses">
                <td>{{ course.courseCode }}</td>
                <td>{{ course.courseName }}</td>
                <td>{{ course.points }}</td>
                <td>{{ course.subject }}</td>
                <td><a href="{{ course.syllabus }}" target="_blank">Kursplan</a></td>
                <td><button [disabled]="course.addedToTimetable" (click)="removeFromTimetable(course)">Ta bort</button></td>
            </tr>
        </tbody>
    </table>
    
    <h5>Antal kurser: {{ selectedCourses.length }} stycken</h5>
    <p>Totalt antal poäng: {{ getTotalCredits() }}hp</p>
    <div class="add-all-btn">
        <button mat-button (click)="removeAllFromTimetable()">Ta bort alla</button>
    </div>
</div>

<div *ngIf="selectedCourses.length === 0">
    <p>Inga kurser valda.</p>
</div>
