
.example-form {
    width: 80%;
    margin: 0 auto; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.example-form mat-form-field {
    width: calc(50% - 20px); 
    margin-right: 20px;
}


.pagination-buttons {
    width: 80%;
    margin: 0 auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; 
}

.pagination-buttons button.mat-button {
    margin: 0 5px;
}

