<form class="example-form">
    <mat-form-field appearance="fill">
        <mat-label>Filtrera kurser:</mat-label>
        <input matInput type="text" [(ngModel)]="searchQuery" name="searchQuery" (input)="filterCourses()">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>ämne:</mat-label>
        <mat-select [(value)]="selectedSubject" name="selectedSubject" (selectionChange)="filterCourses()">
            <mat-option value="">Alla</mat-option>
            
            <mat-option *ngFor="let subject of subjects" [value]="subject">{{ subject }}</mat-option>
        </mat-select>
    </mat-form-field>
</form>


<h5>Listar {{ filteredCourses.length }} kurser av totalt {{ courses.length }}</h5>


<table class="course-table">
    <thead>
        <tr>
            <th (click)="sort('courseCode')">Kod</th>
            <th (click)="sort('courseName')">Kursnamn</th>
            <th (click)="sort('points')">Poäng</th>
            <th (click)="sort('subject')">ämne</th>
            <th>Kursplan</th>
            <th>Lägg till</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let course of filteredCourses">
            <td>{{ course.courseCode }}</td>
            <td>{{ course.courseName }}</td>
            <td>{{ course.points }}</td>
            <td>{{ course.subject }}</td>
            <td><a [href]="course.syllabus" target="_blank">Kursplan</a></td>
            <td>
                <button (click)="addToTimetable(course)" [disabled]="courseAddedToTimetable(course)">Lägg till</button>
            </td>
        </tr>
    </tbody>
</table>



<div class="pagination-buttons">
    <button mat-button (click)="prevPage()">Tidigare</button>
    <span>sida {{ currentPage }} av {{ totalPages }}</span>
    <button mat-button (click)="nextPage()">Nästa</button>
</div>

<p>Antal valda kurser: {{ selectedCourses.length }}</p>
<div class="add-all-btn">
    <button mat-button (click)="addAllToTimetable()">Lägg till alla</button>
</div>
